<div class="app-container with-navbar" ng-controller="SigninController">

    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin" ng-click="goHome()">
            <img class="button-icon" src="image-current/nav-left.png"/>
            <!--<div class="button-text">取消</div>-->
        </div>
        <div class="navbar-title">
        	用户登录
        </div>
    </div>

	<!--  添加 选项卡 	-->
	<div class="TabNav">
		<div ng-init='activeTab=1'>
			<div class="tabNav-tab" ng-class='{active:activeTab==1}' ng-click='activeTab=1'>账号密码登录</div>
			<div class="tabNav-tab" ng-class='{active:activeTab==2}' ng-click='activeTab=2'>验证码登录</div>
		</div>
		<div class="TabCon">
			<div ng-show='activeTab==1'>
				<div class="app-content">
					<div class="signin-form">
						<div class="signin-field">
							<!--<img class="field-icon" src="image/ind-username.png"/>-->
							<a>账号</a>
							<input class="field-input" placeholder="请填写手机号" ng-model="username"/>
						</div>
						<div class="signin-hline"></div>
						<div class="signin-field">
							<!--<img class="field-icon" src="image/ind-password.png"/>-->
							<a>密码</a>
							<input type="password" class="field-input" placeholder="请填写密码" ng-model="password"/>
						</div>
					</div>
					<div class="signin-submit" ng-click="touchSignin()">
						登录
					</div>
					<div class="signin-other">
						<div class="other-item abs-left" ng-click="touchSignup()">快速注册</div>
						<div class="other-item abs-right" ng-click="touchForget()">忘记密码?</div>
					</div>
					<div class="signin-social" ng-if = "isWeixin()" >
						<div class="social-header">
							<div class="header-line"></div>
							<div class="header-label">第三方登录</div>
						</div>
						<div class="social-itemset">
							<div class="itemset-item" ng-click="touchWeixin()" >
								<img class="item-icon" src="image/wechat.png"/>
								<div class="item-text">微信</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show='activeTab==2'>
				<div class="app-content" ng-show="!passwordSet">
					<div class="signin-form">
						<div class="signin-field">
							<!--<img class="field-icon" src="image/ind-username.png"/>-->
							<a>账号</a>
							<input class="field-input" placeholder="请填写手机号" ng-model="username"/>
						</div>
						<div class="signin-hline"></div>
						<div class="signin-field">
							<a>验证码</a>
							<input class="field-verification-code" placeholder="验证码" ng-model="verification_code"/>
							<!--<input id="get_sms" type="button" class="{{paraclass}}" ng-click="send_sms_car()" ng-value="verification_btn">-->
							<div id="get_sms" class="{{paraclass}}" ng-click="send_sms_car()">{{verification_btn}}</div>
						</div>
					</div>
					<div class="signin-submit" ng-click="verifySignin()">
						登录
					</div>
					<div class="signin-other">
						<div class="other-item abs-left" ng-click="touchSignup()">快速注册</div>
						<div class="other-item abs-right" ng-click="touchForget()">忘记密码?</div>
					</div>
					<div class="signin-social" ng-if = "isWeixin()" >
						<div class="social-header">
							<div class="header-line"></div>
							<div class="header-label">第三方登录</div>
						</div>
						<div class="social-itemset">
							<div class="itemset-item" ng-click="touchWeixin()" >
								<img class="item-icon" src="image/wechat.png"/>
								<div class="item-text">微信</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  设置密码	-->
			<div class="app-content" ng-show="passwordSet">
				<div class="signin-form">
					<div class="signin-field">
						<a>登录密码</a>
						<input type="password" class="field-input" placeholder="请填写密码" ng-model="passwordF"/>
					</div>
					<div class="signin-hline"></div>
					<div class="signin-field">
						<a>确认密码</a>
						<input type="password" class="field-input" placeholder="请确认密码" ng-model="passwordS"/>
					</div>
				</div>
				<div class="signin-submit" ng-click="confirmPassword()">
					密码确认
				</div>
			</div>
		</div>
	</div>
</div>
