<div class="app-container with-navbar" ng-controller="PayPasswordController">

    <div class="navbar fixed-top">
        <div class="navbar-left hide-weixin" ng-click="goBack()">
            <img class="button-icon" src="image-current/nav-left.png"/>
        </div>
        <div class="navbar-title">
            {{payTitle}}
        </div>
    </div>

    <div class="app-content">
        <!--  设置支付密码  -->
        <div class="changepass-form" ng-if="!hasPayPassword">
            <div class="changepass-field">
                <a>支付密码</a>
                <input type="password" class="field-input" placeholder="请填写支付密码" ng-model="newPassword"/>
            </div>
            <div class="changepass-hline"></div>
            <div class="changepass-field">
                <a>确认密码</a>
                <input type="password" class="field-input" placeholder="确认支付密码" ng-model="newPassword2"/>
            </div>
        </div>
        <!--  修改支付密码  -->
        <div class="changepass-form" ng-if="hasPayPassword==payStatus.updatePassword.flag">
            <div class="changepass-field">
                <a>支付密码</a>
                <input type="password" class="field-input" placeholder="请填写支付密码" ng-model="payPassword"/>
            </div>
            <div class="changepass-hline"></div>
            <div class="changepass-field">
                <a>新密码</a>
                <input type="password" class="field-input" placeholder="请填写新密码" ng-model="newPassword"/>
            </div>
            <div class="changepass-hline"></div>
            <div class="changepass-field">
                <a>确认密码</a>
                <input type="password" class="field-input" placeholder="确认新密码" ng-model="newPassword2"/>
            </div>
        </div>
        <!--  找回支付密码  -->
        <div class="changepass-form" ng-if="hasPayPassword==payStatus.findPassword.flag">
            <div class="changepass-field">
                <!--<img class="field-icon" src="image/ind-username.png"/>-->
                <a>手机号</a>
                <input class="field-input" placeholder="请填写手机号" ng-model="username"/>
            </div>
            <div class="changepass-hline"></div>
            <div class="changepass-field">
                <a>验证码</a>
                <input class="field-verification-code" placeholder="验证码" ng-model="verification_code"/>
                <div id="get_sms" type="button" class="{{paraclass}}" ng-click="send_sms_car()">获取验证码</div>
            </div>
        </div>

        <div class="changepass-submit" ng-click="touchPayPassword()">
            保存
        </div>
        <div class="signin-other" ng-if="hasPayPassword == payStatus.updatePassword.flag">
            <div class="other-item abs-right" ng-click="touchForget()">忘记支付密码?</div>
        </div>
    </div>

</div>
