<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{$lang.cp_home}{if $ur_here} - {$ur_here}{/if}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="styles/general.css" rel="stylesheet" type="text/css"/>
    <link href="styles/main.css" rel="stylesheet" type="text/css"/>
    {literal}
        <style type="text/css">
            /*body,html { height: 100%; overflow: hidden; }*/
            .panel-icloud .panel-right iframe {
                height: 300px;
                margin-top: 15px;
            }

            .panel-hint {
                top: 3%;
            }

            {
                if $ yunqi_bg
            }
            .login-body {
                background: url({$yunqi_bg}) no-repeat center center;
            }

            {
                else
            }
            .login-body {
                background: url(images/login_bg_01.jpg) no-repeat center center;
            }

            {
            /
            if
            }

            .center-wrap .z-bd {
                width: 582px;
            }

            .z-bd .login-panel {
                padding: 5px 20px 25px;
            }

            .login-cloud {
                padding: 70px 10px 20px;
            }

            .center-wrap {
                width: 94%;
            }

            .center-wrap .z-bd {
                background-size: contain;
                height: 391px;
            }
        </style>
    {/literal}
    {insert_scripts files="../js/utils.js,validator.js,../js/transport.js"}
    <script language="JavaScript">
        <!--
        // 这里把JS用到的所有语言都赋值到这里
        {foreach from=$lang.js_languages key=key item=item}
        var {$key} =
        "{$item}";
        {/foreach}
        {literal}
        if (window.parent != window) {
            window.top.location.href = location.href;
        }
        /*关闭按钮*/
        function get_certificate() {
            var panel = document.getElementById('panelCloud');
            var mask = document.getElementById('CMask') || null;
            var frame = document.getElementById('CFrame');
            if (panel && CMask && frame) {
                panel.style.display = 'block';
                mask.style.display = 'block';
                frame.src = '{$activate_iframe_url}';
            }
        }

        /*关闭按钮*/
        function btnCancel(item) {
            var par = item.offsetParent;
            var mask = document.getElementById('CMask') || null;
            var frame = document.getElementById('CFrame');
            par.style.display = 'none';
            if (mask) {
                mask.style.display = 'none';
            }
            frame.src = '';
        }
        //-->
    </script>
</head>
<body style="height: 100%;padding: 0">
<div class="form-header">
</div>
<form class="login-body" method="post" action="privilege.php" name='theForm' onsubmit="return validate()">
    <!--<div class="login-hd">
      <img src="images/shopex.png" alt="shopex" class="logo">
    </div>-->
    <div class="center-wrap" id="centerWrap">
        <!--<div class="login-center">
          <div class="bd-logo">
            <img src="images/ecshop-logo.png" width="373" height="103" border="0" alt="ECSHOP" />
          </div>
        </div>-->

        <div class="z-bd">
            <div class="message">{$login_err}</div>
            <div class="login-panel" id="loginPanel">
                <h3 class="logo-text ecshop-logo">
                    <div class="logo"></div>
                </h3>
                <div class="controls first">
                    <svg class="iconphone" width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                           sketch:type="MSPage">
                            <g id="2-copy-2" sketch:type="MSArtboardGroup"
                               transform="translate(-505.000000, -357.000000)" fill="#666">

                            </g>
                        </g>
                    </svg>
                    <input type="text" name="username" placeholder="{$lang.label_username}"/>
                </div>
                <div class="controls two">
                    <svg class="iconphone" width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                           sketch:type="MSPage">
                            <g id="2-copy-2" sketch:type="MSArtboardGroup"
                               transform="translate(-505.000000, -407.000000)" fill="#666">

                            </g>
                        </g>
                    </svg>
                    <input type="password" name="password" placeholder="{$lang.label_password}"/>
                </div>
                {if $gd_version > 0}
                <div class="controls third">
                    <svg class="iconphone" width="20px" height="20px" viewBox="0 0 20 20">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                           sketch:type="MSPage">
                            <g id="2-copy-2" sketch:type="MSArtboardGroup"
                               transform="translate(-505.000000, -457.000000)" fill="#666">

                            </g>
                        </g>
                    </svg>
                    <input type="text" name="no-captcha" class="capital" placeholder="{$lang.label_captcha}"/>
                    <!--<input name="captchas" type="text" data-error-msg="验证码不能为空" class="Inp-v" placeholder="输入验证码"><i class="Ico"></i>-->
                    <div class="" style="position: absolute; right: 8px; top: 8px;" id="number_div">
                        <img src="index.php?act=captcha&{$random}" width="102" height="34" alt="CAPTCHA" border="1"
                             onclick=this.src="index.php?act=captcha&"+Math.random() style="cursor: pointer;"
                             title="{$lang.click_for_another}"/>
                    </div>
                </div>
                {/if}
                <div class="controls last">
                    <input type="submit" class="btn-a" value="{$lang.signin_now}" class="button"/>
                    <span style="display: none" id="login_error_msg"></span>
                </div>
                <div class="controls bside" style="border: none">
                    <input type="checkbox" value="1" name="remember" id="remember"/>
                    <label for="remember">{$lang.remember}</label></td>
                    <a class="link-forget cl-link-blue" href="get_password.php?act=forget_pwd">{$lang.forget_pwd}</a>
                    <a class="link-home cl-link-blue" href="../">{$lang.back_home}</a>
                </div>
            </div>
            <div class="login-cloud" id="elseLogin">
                <div class="hd">{$lang.other_login_methods}</div>
                <!--<a id="cloudLogin" href="privilege.php?act=login&type=yunqi" target="_parent">-->
                <span class="btn-tab" id="cloudLogin" href="javascript:void(0)" target="_parent">
        </span>

            </div>
        </div>
    </div>
    <input type="hidden" name="act" value="signin"/>
</form>
<div class="copy-right">&copy; 2003-{$now_year} ShopEx,Inc.All rights reserved.</div>
<script language="JavaScript">

    //三次密码输入错误,出现验证码(火狐触发不了,不过影响不大)
    (function (win, doc) {
        if (!doc.getCookie('loginNum')) {
            doc.setCookie('loginNum', '1', 1);
        } else {
            doc.setCookie('loginNum', doc.getCookie('loginNum') * 1 + 1, 1);
        }
        if (doc.getCookie('loginNum') > 3) {
            var oInput = doc.getElementsByClassName('capital')[0];
            var oT = doc.getElementsByClassName('third')[0];
            if (oT) {
                oT.classList.add('active');
                oT.previousElementSibling.classList.add('active');
                oInput.name = 'captcha';
            }
        }
    })(window, document);



        document.forms['theForm'].elements['username'].focus();
    /**
     * 检查表单输入的内容
     */
    function validate() {
        var validator = new Validator('theForm');
        validator.required('username', user_name_empty);
        //validator.required('password', password_empty);
        if (document.forms['theForm'].elements['captcha']) {
            validator.required('captcha', captcha_empty);
        }
        return validator.passed();
    }
    {/literal}


    var dom = "<h3 class='logo-text yunqi-logo'><div class='logo'></div><p class='text'>云起登录</p></h3><div class='main'><span class='error-hint' {if !$error_msg } style='display:none' {/if} id='login_error_msg'>{$error_msg}</span><iframe id='loginFrame' src='{$iframe_url}' height='220' frameborder='0' scrolling='no'></iframe><div class='cloud-passw'><a target='_blank' href='https://account.shopex.cn/forget?' style='float:right;'>{$lang.forget_pwd}</a></div> </div>";
    var cloudLogin = document.getElementById('cloudLogin');
    var elsePanel = document.getElementById('elseLogin');
    var loginPanel = document.getElementById('loginPanel');
    var oldLogin = loginPanel.innerHTML;
    var oldElseTxt = elsePanel.getElementsByTagName('p')[0].innerHTML;

    cloudLogin.onclick = function () {
        loginTab();
    }
    function loginTab() {
        if (JSON.stringify(elsePanel.classList).indexOf('ecshop') < 0) {
            loginPanel.classList.add('cloud');
            elsePanel.classList.add('ecshop');
            loginPanel.innerHTML = dom;
            elsePanel.getElementsByTagName('p')[0].innerHTML = '{$lang.ecshop_account}';
            get_certificate();
        } else {
            loginPanel.classList.remove('cloud');
            elsePanel.classList.remove('ecshop');
            loginPanel.innerHTML = oldLogin;
            elsePanel.getElementsByTagName('p')[0].innerHTML = oldElseTxt;
        }
    }

</script>
</body>